@import "../../styles/variables";

header.header-wrapper {
  display: block;
  min-width: 100vw;
  min-height: 70px;
}

.bp3-button {
  font-size: 15px;
}

main.main-grid-container {
  display: grid;
  grid-template-areas: ". . .";
  grid-template-columns: 200px 1fr 60px;
  grid-template-rows: 1fr;
  z-index: 99;
  height: calc(100vh - 70px);

  &.left {
    grid-template-columns: 200px 1fr 60px;
  }

  &.right {
    grid-template-columns: 200px 1fr 360px;
  }

  &.both {
    grid-template-columns: 200px 1fr 360px;
  }

  > .content-wrapper {
    height: calc(100vh - 70px);
    overflow-y: hidden;
    padding: 0;
  }

  > .navigation-wrapper,
  > .sidebar-wrapper {
    background-color: $nav-sidebar-bg;
  }

  > .navigation-wrapper {
    border-right: 1px solid $dark-gray2;
  }

  > .sidebar-wrapper {
    border-left: 1px solid $dark-gray2;
  }
}
