/* stylelint disable max-line-length */
@import "../../styles/variables";

.marketcap {
  display: block;
  width: 100%;
  padding-top: 20px;
}

.marketcap-list {
  display: block;

  .marketcap-list-line {
    display: flex;
    height: 80px;
    // box-shadow: "0 0 0 1px rgba(16, 22, 26, 0.2), 0 0 0 rgba(16, 22, 26, 0), 0 1px 1px rgba(16, 22, 26, 0.4)";
    // box-shadow: "0 0 0 1px rgba(16, 22, 26, 0.2), 0 1px 2px rgba(16, 22, 26, 0.4), 0 1px 2px rgba(16, 22, 26, 0.4)";

    > div:first-of-type {
      position: relative;
      width: 30px;
      height: 100%;
      vertical-align: middle;

      > span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.7;
      }
    }

    .bp3-card {
      display: flex;
      margin: 5px 0;
      cursor: pointer;
      width: calc(100% - 45px);
      height: 70px;
      padding: 0;
    }

    > div {
      position: relative;
      height: 70px;
    }
  }
}

.marketcap-item-icon {
  position: relative;
  width: 35px;
  height: 70px;
  padding: 5px 0;

  > img {
    position: absolute;
    top: calc(50% - 2px);
    left: calc(50% + 5px);
    transform: translate(-50%, -50%);
    opacity: 0.8;
  }
}

.marketcap-item-name {
  width: 100px;
  padding-left: 10px;

  > h4 {
    margin: 15px 0 3px 0;
    max-height: 18px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0;
    font-size: 17px;
    font-weight: 400;
  }

  > span {
    display: block;
    opacity: 0.6;
    width: 38px;
    font-size: 13px;
    font-weight: 400;
  }
}

.marketcap-item-price,
.marketcap-item-cap {
  position: relative;
  width: 100px;
  text-align: right;

  > span {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100px;
    font-size: 17px;
  }
}

.marketcap-item-cap {
  > span {
    font-size: 16px;
  }
}

.marketcap-item-percentage-four {
  display: flex;
  flex-wrap: wrap;
  width: 220px;
  padding: 0 30px;

  > div {
    position: relative;
    margin-right: 10px;
    width: 70px;
    color: $pt-intent-success;

    &.red {
      color: $pt-intent-danger;
    }

    > span {
      position: absolute;
      left: 0;
      opacity: 0.75;
      font-weight: 700;
    }

    > p {
      text-align: right;
      color: $pt-dark-text-color;
    }

    &:nth-of-type(1),
    &:nth-of-type(3) {
      width: 80px;
      padding-right: 10px;
    }

    &:nth-of-type(1),
    &:nth-of-type(2) {
      margin-top: 8px;
    }

    &:nth-of-type(2),
    &:nth-of-type(4) {
      margin-right: 0;
    }
  }
}

.marketcap-item-ath {
  position: relative;
  width: 70px;

  > span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    text-align: center;
  }
}

.marketcap-item-volume {
  width: 90px;
  padding: 0 10px;
  padding-top: 15px;

  > span {
    display: block;
    text-align: right;

    &:last-child {
      opacity: 0.7;
    }
  }
}

.marketcap-item-sparkline-week {
  position: relative;
  width: 220px;
  height: 70px;
  padding-top: 10px;

  > div {
    position: absolute;
    top: -4px;
    left: 10px;
    height: 75px;
  }
}

.marketcap-list-collapse {
  pre {
    display: block;
    border-radius: 0;
    box-shadow: none;
    height: 550px;

    /* stylelint-disable-next-line declaration-no-important */
    overflow-y: hidden !important;

    > div {
      display: block;
      width: 100%;
      height: 50px;
    }

    article {
      max-height: 470px;
    }
  }
}
