@import "../../styles/variables";

aside.sidebar {
  display: flex;
  overflow: hidden;

  .sidebar-content-wrapper {
    display: none;
    width: 0;
    height: calc(100vh - 70px);
    transition: width 500ms;
  }

  .sidebar-nav-wrapper {
    position: relative;
    float: right;
    border-left: none;
    max-width: 60px;
    height: calc(100vh - 70px);
  }
}

aside.sidebar.sidebar-collapsed {
  .sidebar-collapse:hover {
    border-left: 1px solid $dark-gray2;
  }

  .sidebar-content-wrapper {
    display: block;
    width: 300px;
  }

  .sidebar-nav-wrapper {
    border-left: 1px solid $dark-gray2;
  }

  .sidebar-collapse-button {
    border-left: 1px solid $dark-gray2;
  }
}

aside.sidebar ul.sidebar-nav {
  display: block;
  margin: 0;
  max-width: 60px;
  padding: 0;

  li {
    position: relative;
    margin-bottom: -6px;
    cursor: pointer;
    width: 60px;
    height: 60px;
    list-style: none;

    &:hover,
    &.active {
      position: relative;
      border-top: 1px solid $dark-gray2;
      border-bottom: 1px solid $dark-gray2;
      background-color: $menu-item;
      // background-color: #384b59;

      &::after {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9999;
        background-color: $menu-item-border-top;
        width: 60px;
        height: 1px;
        content: "";
      }
    }

    span {
      @include absolute-center;
    }
  }

  &:last-of-type li {
    margin-top: -1px;
  }
}

aside.sidebar .sidebar-collapse-button {
  position: absolute;
  right: 0;
  bottom: 0;
  border-top: 1px solid $dark-gray2;
  cursor: pointer;
  width: 60px;
  height: 60px;

  &:hover {
    background-color: $menu-item;

    &::after {
      display: block;
      position: absolute;
      top: 0;
      left: 1px;
      z-index: 9999;
      background-color: $menu-item-border-top;
      width: 59px;
      height: 1px;
      content: "";
    }
  }

  &::after {
    display: block;
    position: absolute;
    top: 0;
    left: 1px;
    z-index: 9999;
    background-color: $menu-item-border-top;
    width: 59px;
    height: 1px;
    content: "";
  }

  .sidebar-collapse-inner {
    width: 60px;
    height: 60px;
  }

  span {
    @include absolute-center;
  }
}
